<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Diplom" connectionString="Data Source=37.145.123.232,49172;Initial Catalog=Diplom_proect;user id=PRT; password=Prt123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>